@import '../../../styles'

main
  margin-top: 100px
  font-family: 'Catamaran'
  .pokemonImage
    display: flex
    flex-direction: column
    align-items: center
    margin-bottom: 0.5rem
    h1
      display: flex
      justify-content: center
      gap: 2rem
      margin-bottom: 0.5rem

.container-sprite-types
  display: flex
  gap: 3rem
  margin-bottom: 1rem
  .pokemon-sprite
    width: 100px
    height: 100px
  aside
    display: flex
    flex-direction: column
    gap: 0.5rem
    .pokemon-types
      width: 36px
      height: 36px

.pokemon-info
  color: $white
  display: flex
  flex-direction: column
  max-height: 330px
  overflow-y: auto
  padding-bottom: 2rem
  margin: 1rem 2.4rem 0 2.4rem
  clip-path: polygon(0 12%, 100% -2%, 100% 100%, 0% 100%)
  button
    background-color: $black
    width: 25px
    min-height: 25px
    border: none
    border-radius: 100%
    display: flex
    justify-content: center
    align-items: center
    box-shadow: $shadow-bottom
    align-self: flex-end
    margin-bottom: 1rem
    margin-top: 1rem
    .icon-arrow
      width: 20px
      height: 20px
  .stats
    display: flex
    justify-content: space-between
    margin-bottom: 0.5rem
    .p-stats
      background-color: $black
      box-shadow: $shadow-bottom
      border-radius: 2.5rem
      padding: 0.2rem 0.5rem
      width: 125px
      display: flex
      justify-content: center
      gap: 1rem
  .pokemon-desc
    background-color: $black
    box-shadow: $shadow-bottom
    padding: 0.8rem 2rem
    border-radius: 0.3125rem
    min-height: 140px
    display: flex
    align-items: center
    margin-bottom: 1rem
  .habitat
    background-color: $black
    box-shadow: $shadow-bottom
    border-radius: 2.5rem

    padding: 0.2rem 0.5rem
    display: flex
    justify-content: space-around
  .abilities
    display: flex
    flex-direction: column
    align-items: center
    background-color: $black
    border-radius: 0.3125rem
    box-shadow: $shadow-bottom
    padding: 1.5rem 2rem
    margin-top: 0.5rem
    .ability-name
      align-self: flex-start
      margin-bottom: 0.5rem

.mb-tb-background
  width: 100vw
  height: 100%
  position: absolute
  z-index: -1
  top: -7px
  clip-path: polygon(0 48%, 100% 41%, 100% 100%, 0% 100%)
  background: #F97448
  background-repeat: no-repeat
  background-size: cover
app-pokemon-page
  display: flex
  margin-top: 165px
