@use './main-styles'
@import '../../../styles'

.mb-tb-background
  background: $mb-tb-background
  background-repeat: no-repeat
  background-size: cover
  position: fixed
  top: 40%
  z-index: -1
  height: 100%
  overflow-y: hidden
  width: 100vw
  @include laptop
    display: none
  @include desktop
    display: none
.background-orange
  position: absolute
  top: 0
  right: 0
  height: 100vh
  @include laptop
    background: $bg-desktop-orange
    width: 1000px
  @include desktop
    background: $bg-desktop-orange
    width: 1340px
.background-line
  height: 100vh
  position: absolute
  z-index: 1
  top: 0
  right: 0
  @include laptop
    background: $bg-desktop-line
    background-repeat: no-repeat
    width: 1000px
  @include desktop
    background: $bg-desktop-line
    background-repeat: no-repeat
    width: 1340px
app-pokemon-page
    display: flex
    margin-top: 165px
