@import '../../../styles'

li
  list-style: none
  cursor: pointer

.normal
  display: flex
  align-items: center
  justify-content: space-between
  font-family: 'Catamaran'
  width: 304px

.container-number-sprite
  display: flex
  align-items: center

.pokemon-sprite
  width: 36px
  height: 36px
  margin-left: 1rem

h1
  font-size: 1rem
  letter-spacing: 0.05rem
  display: flex
  gap: 2.3rem
  .pokemon-name
    margin-left: 1rem

.pokeball-icon
  width: 25px
  height: 25px
  margin-right: 0.5rem
.disabled
  display: none
