@import '../../../styles'

main
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  grid-row: 2 / 3
  @include desktop
    align-items: flex-end
  .pokemon-gif-desktop
    display: none
    @include desktop
      display: flex
      width: 250px
      height: 250px
      position: absolute
      left: 200px
      img
        width: 100%
        height: 100%
        z-index: 1
  .background-orange
    @include desktop
      background: $bg-desktop-orange
      position: absolute
      top: 0
      width: 1340px
      height: 100vh
  .background-line
    @include desktop
      background: $bg-desktop-line
      background-repeat: no-repeat
      width: 1340px
      height: 100vh
      z-index: 1
  .container-user-actions
    display: flex
    align-items: center
    gap: 3rem
    position: fixed
    top: 100px
    @include desktop
      width: 100%
      justify-content: flex-end
      right: 20rem
    .container-searchbar
      display: flex
      justify-content: center
      align-items: center
      position: relative
      @include desktop
        width: 100%
        justify-content: flex-end
      input
        margin: 0.5rem 0 0.5rem 0
        height: 2.25rem
        width: 12rem
        padding-left: 1.5rem
        border: none
        border-radius: 2.5rem
        background: rgba(249, 244, 244, 0.50)
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25)
        @include desktop
          width: 15rem
          margin-right: 3rem
      .search-icon
        width: 16px
        height: 16px
        position: absolute
        left: 10rem
    .buttons-top-bottom
      display: flex
      gap: 0.5rem
      @include tablet
        position: absolute
        top: 750px
        left: 300px
        flex-direction: column
        gap: 1rem
      @include laptop
        position: absolute
        top: 510px
        left: 350px
        flex-direction: column
        gap: 1rem
      @include desktop
        position: absolute
        top: 700px
        right: -100px
        flex-direction: column
        gap: 1rem
      button
        background-color: $black
        width: 25px
        height: 25px
        border: none
        border-radius: 100%
        display: flex
        justify-content: center
        align-items: center
        box-shadow: $shadow-bottom
      .icon-arrow
        width: 20px
        height: 20px
  app-pokemon-list
        margin-top: 165px
        padding-bottom: 45px
        overflow-y: scroll
        height: 63vh
        display: flex
        flex-wrap: wrap
        @include scrollbar
        @include tablet
          height: 69vh
          padding-bottom: 20px
        @include desktop
          justify-content: flex-end
          height: 73vh
