<main>
  <div class="container-user-actions">
    <div class="container-searchbar">
      <input type="text" id="search" name="search" disabled />
      <img
        src="../../../assets/images/searchIcon.svg"
        alt="Icono de buscador"
        class="search-icon"
      />
    </div>
    <div class="buttons-top-bottom">
      <button (click)="toggleImage('up')">
        <img
          src="../../../assets/images/top-icon.svg"
          alt="Flecha arriba"
          class="icon-arrow"
        />
      </button>
      <button (click)="toggleImage('down')">
        <img
          src="../../../assets/images/bottom-icon.svg"
          alt="Flecha abajo"
          class="icon-arrow"
        />
      </button>
    </div>
  </div>
  <app-pokemon-list
    [position]="position"
    (pokemonLength)="getPokemonListLength($event)"
    #pokemonListWithScroll
  ></app-pokemon-list>
</main>
