<main>
  <div class="pokemon-gif-desktop">
    <img src="{{ pokemonGif }}" />
  </div>
  <div class="background-orange"></div>
  <div class="background-line">
    <div class="container-user-actions">
      <div class="container-searchbar">
        <input
          type="text"
          id="search"
          name="search"
          placeholder="Search pokémon"
          [value]="data.searchValue"
          (keyup)="onChangeInput(searchInput.value)"
          #searchInput
        />
        <img
          src="../../../assets/images/searchIcon.svg"
          alt="Search Icon"
          class="search-icon"
        />
      </div>
      <div class="buttons-top-bottom">
        <button (click)="toggleImage('up')">
          <img
            src="../../../assets/images/top-icon.svg"
            alt="Up arrow icon"
            class="icon-arrow"
          />
        </button>
        <button (click)="toggleImage('down')">
          <img
            src="../../../assets/images/bottom-icon.svg"
            alt="down arrow icon"
            class="icon-arrow"
          />
        </button>
      </div>
    </div>
    <app-pokemon-list
      [pokemonSearch]="pokemonSearch"
      [position]="position"
      (pokemonLength)="getPokemonListLength($event)"
      (allPokemon)="getAllPokemon($event)"
      #pokemonListWithScroll
    ></app-pokemon-list>
  </div>
</main>
